
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form {
    width: 450px;
    background: white;
    margin: 5em auto;
    border-radius: 1em;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
h1 {
    text-align: center;
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.data, .sign-in {
    height: 4em;
}